html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    max-width: 1600px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: black;
}

.logo-header {
    padding-left: 10%;
}

nav {
    display: flex;
    align-items: center;
    color: rgb(205, 169, 39);
    padding-right: 10%;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 40px;
}

nav a {
    cursor: pointer;
    color: rgb(205, 169, 39);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.list-nav {
    list-style: none;
}

.section-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 100%;
    background-image: url('./images/backgroud-wallpaper.jpg');
    background-size: cover;
}

.contact-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(205, 169, 39, 0.8);
    padding-top: 100px;
    padding-bottom: 150px;
}

.contact-booking h1 {
    color: black;
    font-size: 3.5em;
}

.slogan {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-style: italic;
    font-size: 1.5em;
    border-bottom: 2px solid black;
}

.contact-precisions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.contact-precisions p {
    font-size: 1.3em;
    margin: 5px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 75px 0;
    background-color: black;
}

.footer-logos {
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
    gap: 10%;
}

.fa-brands {
    cursor: pointer;
    font-size: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 40%;
    padding: 15px;
}

.fa-brands:hover {
    color: rgb(205, 169, 39);
    border: 2px solid rgb(205, 169, 39);
}

.copyright {
    color: white;
}