html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 1600px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: black;
}

.logo-header {
    padding-left: 10%;
}

nav {
    display: flex;
    align-items: center;
    color: rgb(205, 169, 39);
    padding-right: 10%;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 40px;
}

nav a {
    cursor: pointer;
    color: rgb(205, 169, 39);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.list-nav {
    list-style: none;
}

.section-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 100%;
    background-image: url('./images/backgroud-wallpaper.webp');
    background-size: cover;
}

.contact-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgb(205, 169, 39), #14b5cd);
    padding-top: 100px;
    padding-bottom: 150px;
}

.contact-booking h1 {
    color: black;
    font-size: 3.5em;
}

.slogan {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-style: italic;
    font-size: 1.5em;
    border-bottom: 2px solid black;
}

.contact-precisions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.contact-precisions p {
    font-size: 1.3em;
    margin: 5px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 75px 0;
    background-color: black;
}

.footer-logos {
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
    gap: 10%;
}

.fa-brands {
    cursor: pointer;
    font-size: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 40%;
    padding: 15px;
}

.fa-brands:hover {
    color: rgb(205, 169, 39);
    border: 2px solid rgb(205, 169, 39);
}

.copyright {
    color: white;
}

@media screen and (max-width: 599px) {
    nav li {
        margin-left: 30px;
        font-size: 0.9em;
    }

    .big-bear {
        width: 320px;
        height: 350px;
    }

    .contact-booking {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .contact-booking h1 {
        display: flex;
        justify-content: center;
        width: 90%;
        color: black;
        font-size: 2.3em;
        text-align: center;
    }

    .slogan {
        width: 90%;
        font-size: 1.2em;
        text-align: center;
    }

    .contact-precisions {
        margin-top: 40px;
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .contact-precisions h2 {
        font-size: 1.3em;
    }

    .contact-precisions p {
        font-size: 1.1em;
    }

    .footer-logos {
        width: 50%;
    }

    .fa-brands {
        font-size: 25px;
    }
}